<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="ListenerPort" value="50602"/>
    <add key="ListenerHost" value="37.252.124.253"/>
    <add key="MessageSize" value="128"></add>
    <add key="MessageCount" value="1"></add>
  </appSettings>
</configuration>