<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="BufferedListenerHost" value="Any"/>
    <add key="BufferedListenerPort" value="50601"/>
    <add key="NotBufferedListenerHost" value="Any"/>
    <add key="NotBufferedListenerPort" value="50602"/>
  </appSettings>
</configuration>